    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif, 'Courier New', Courier, monospace;
    }
    
    #nav-bar {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    
    .navbar {
        background-image: linear-gradient(to right, rgb(179, 8, 185), rgb(90, 3, 83));
        padding: 0 !important;
    }
    
    .navbar-brand img {
        height: 80px;/*40*/
        padding-left: 20px;
    }
    
    
    .navbar-nav li {
        padding: 0 10px;
    }
    
    .navbar-nav li a {
        color: #fff !important;
        font-weight: 600;
        float: right;
        text-align: left;
    }
    
    .nav-link:hover {
        color: darkgray !important;
    }
    
    .navbar-nav li::before {
        content: '';
        width: 0%;
        height: 2px;
        background: #1e90ff;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    
    .navbar-nav li:hover::before {
        width: 100%;
    }
    /* .nav-link::before {
        content: "";
        background: rgb(33, 2, 173);
        width: 50px;
        height: 4px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(34px);
    } */
    
    .fas-bars {
        color: #fff;
        font-weight: 30px !important;
    }
    
    .navbar-toggler {
        outline: none !important;
    }
    
    #banner {
        background-image: linear-gradient(to right, rgb(179, 8, 185), rgb(90, 3, 83));
        color: #fff;
        padding-top: 5%;
    }
    
    .promo-title {
        font-size: 40px;
        font-weight: 600;
        margin-top: 100px;
    }
    
    .play-btn {
        margin: 20px;
        width: 45px;
    }
    
    #banner a {
        color: #fff;
        text-decoration: none;
    }
    /* .img-fluid {} */
    
    .bottom-img {
        width: 100%;
    }
    /* service section  $$$$$$$$$$$$$$$$$$$$$$$$$$*/
    
    #services {
        padding: 80px 0;
    }

    .services div{
        cursor: pointer;
        
    }
    .services:hover div{
        color: #1e90ff;
       
    }
 
    
    .img {
        margin-top: 20px;
        width: 100px;
        height: 100px;
        background-image: linear-gradient(to right, rgb(179, 8, 185), rgb(99, 67, 96));
        padding: 15PX;
        border-radius: 20%;
        border: none;
        opacity: 0.9;
    }
    .img:hover{
        opacity: 0.8;
        box-shadow:  2px 2px 5px 2px #888888;
        border-radius: 50%;
        transition: 0.5s;

    }

    .imgBg1 {
        background-image: linear-gradient(to right, rgb(179, 8, 185), rgb(99, 67, 96));
    }
    .imgBg2 {
        background-image: linear-gradient(to right, rgb(45 68 185), rgb(2 1 23));
    }
    .imgBg3 {
        background-image:  linear-gradient(to right, #00889e, rgb(1 35 43));
    }

    
    .services {
        padding: 20px;
    }
    
    .services h4 {
        padding: 5px;
        margin-top: 20px;
        text-transform: uppercase;
    }
    
    .title::before {
        content: "";
        background: rgba(32, 32, 32, 0.932);
        width: 200px;
        height: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(63px);
    }
    /* .title::after {
        content: "";
        background: rgb(112, 0, 156);
        width: 50px;
        height: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(8px);
    } */
    
    #services .container .btn-primary {
        background-image: linear-gradient(to right, rgb(179, 8, 185), rgb(99, 67, 96));
        border-radius: 20px;
        border: none;
        padding: 8px 25px;
        /*for remove  wehen you click  blue bordrer*/
    }
    /* about us***********************************************/
    
    #about-us {
        padding-top: 50px;
        padding-bottom: 50px;
        background: #f8f9fa;
    }
    
    .about-title {
        font-size: 40px;
        font-weight: 600;
        margin-top: 8%;
    }
    
    #about-us ul li {
        margin: 10px 0;
    }
    
    #about-us ul {
        margin-left: 20px;
        
    }
    
    #testimonials {
        margin: 100px 0;
    }
    
    .testimonials {
        border-left: 4px solid rgb(139, 13, 83);
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .testimonials1{
        border-left: 4px solid rgb(139, 13, 83);

    }
    .testimonials2{
        border-left: 4px solid rgb(1, 7, 95);
    }
    .testimonials3{
        border-left: 4px solid #046374;
    }
    
    .testimonials img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin: 0 10px;
    }
    
    div .add-review{  font-weight: 600; text-align: center;     border-top: none; border-color: #1e90ff;  ; background-image: linear-gradient(to right, rgb(132, 17, 136), rgb(68, 4, 62));
        ; width: 150px;margin-left: 42%;border-radius: 30px;color: wheat;padding: 15px 5px; font-family: cursive;letter-spacing: 1px;}
        div .add-review:hover{ background-image: linear-gradient(to right, rgb(71, 22, 73), rgb(68, 4, 62));
            cursor: pointer;color: rgb(218, 214, 214);
        
        /* border: 4px solid  #1e90ff;
        transition: 2s;
     */
        
        
           
        
        
        
        }


    
        .userdetails {
        display: inline-block;
        font-size: 12px;
    }
    
    
    #contact-us {
        background: #f8f9fa;
        padding: 100px 0;
    }
    
    #contact-us p {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 600;
        font-family: "COMIC SANS MS";
    }
    
    .social-media img {
        width: 60px;
        transition: 0.5s;
    }
    
    .social-media a:hover img {
        transform: translateY(-10px);
    }
    /* footer$$$$$$$$$$$$$$$$$$$$$*/
    
    #footer {
        background-image: linear-gradient(to right, rgb(179, 8, 185), rgb(90, 3, 83));
        color: #fff;
    }
    
    #footer img {
        width: 100%;
    }
    
    .footer-box {
        padding: 20px;
    }
    
    #footer .container .footer-box img {
        margin-bottom: 20px;
        width: 120px;
    }
    
    .footer-box .fas {
        margin-right: 8px;
        font-size: 25px;
        height: 40px;
        width: 40px;
        text-align: center;
        padding-top: 7px;
        background-image: linear-gradient(to right, rgb(132, 17, 136), rgb(68, 4, 62));
        border-radius: 20px;
    }
    
    .footer-box .form-control {
        box-shadow: none !important;
        margin-top: 25px;
        border-radius: 0;
        border: none;
    }
    
    .footer-box .btn-primary {
        /* box-shadow: none !important; */
        margin-top: 10px;
        border-radius: 20px;  
        padding: 7px 20px;  
        border: none;
        opacity: 0.9;
        background-image: linear-gradient(to right, rgb(132, 17, 136), rgb(87, 12, 79));
    }
    .footer-box .btn-primary:hover {
        opacity: 0.9;
        box-shadow: 2px 2px 5px 1px #303030d8;
        background-image: none!important;
        background-color: white;
        color:rgba(19, 19, 19, 0.966)
    }
    
    hr {
        background-color: #fff;
    }
    
    .copyright {
        margin-bottom: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    /*animation of img  */
    
    .hero-img .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
    
    @keyframes up-down {
        0% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(-10px);
        }
    }

   .services a {color: black;text-decoration: none;
    }

       #videoContainer video {
        border-radius: 10px;
    }
    
    @media (min-width: 350px) { /* xs and above */
        #videoContainer video {
            width: 99%;
        }
    }

    @media (min-width: 576px) { /* sm and above */
        #videoContainer video {
            width: 80%;
        }
    }

    @media (min-width: 768px) { /* md and above */
        #videoContainer video {
            width: 70%;
        }
    }

    @media (min-width: 992px) { /* lg and above */
        #videoContainer video {
            width: 60%;
        }
    }


    .modal-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
        width: 50%;
        padding: 20px;
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        z-index: 1000;
    }
    
    .modal-container.active {
        display: block;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    
    .modal-header {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    .modal-body input,.modal-body textarea,
    .modal-body select {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .modal-footer {
        text-align: right;
    }
    
    .close-modal-btn {
        background-color: #f01e1e;
        /* background-image: linear-gradient(to right, rgb(132, 17, 136), rgb(87, 12, 79)); */

        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .close-modal-btn:hover {
        background-color: #d32f2f;
        opacity:0.8;
    }
    